
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-family: "roboto";
    color: #ffffff;
    padding: 0; 
    margin: 0;
}
/* header */
.nav-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: auto;
    padding: 30px;
    white-space: nowrap;
    position: absolute;
    z-index:2;
}
.nav-container .mobile-nav {
    display: flex;
    justify-content: space-between;
}
.nav-container #logo {
    font-size: 25px;
    margin-right:40px;
}
.nav-container #menu-icon div {
    width:35px;
    height: 5px;
    background-color: #000000;
    margin:4px;
    display:none;
}
.nav-container #exit-icon {
    font-size:25px;
    font-weight: bolder;
    color: #000000;
    display: none;
}
.nav-container .links-container,
.nav-container .links-container .main-links,
.nav-container .links-container .other-links {
    display: flex;
}

.nav-container .links-container div {
    margin: 0 30px 0 0;
}
.nav-container div a {
    text-decoration: none;
}
.nav-container .links-container .main-links .link-item,
.nav-container .links-container .other-links .link-item {
    margin:0 20px 0 0;
}
.nav-container .links-container .other-links #button {
    background-color: #37EB7B;
    padding: 10px 20px;
    border-radius: 5px;
}


@media only screen and (min-width:1024px) {
    .nav-container {
        justify-content: space-around;
        padding: 20px 100px;
    }
    .nav-container #logo {
        margin-right: 800px;
    }
    .nav-container .links-container .main-links {
        margin-right: 60px
    }
}


/* intro */

.intro {
    background-color:rgb(60, 7, 85);
    width: 100%;
    height: 800px;
    position:relative;
    top: 0;
    bottom: 0;
    right:0 ;
    left:0 ;
    background-image: linear-gradient(#3c0755, #6d0eb7, #543cc8);
    transform: skewY(-6deg);
    transform-origin: top left;
}