
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-family: "roboto";
    color: #ffffff;
    padding: 0; 
    margin: 0;
}
/* header */
.nav-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: auto;
    padding: 30px;
    white-space: nowrap;
    position: relative;
    z-index:2;

}
.nav-container .mobile-nav {
    display: flex;
    justify-content: space-between;
}
.nav-container #logo {
    font-size: 25px;
    margin-right:40px;
}
.nav-container #menu-icon div {
    width:35px;
    height: 5px;
    background-color: #000000;
    margin:4px;
    display:none;
}
.nav-container #exit-icon {
    font-size:25px;
    font-weight: bolder;
    color: #000000;
    display: none;
}
.nav-container .links-container,
.nav-container .links-container .main-links,
.nav-container .links-container .other-links {
    display: flex;
}

.nav-container .links-container div {
    margin: 0 30px 0 0;
}
.nav-container div a {
    text-decoration: none;
}
.nav-container .links-container .main-links .link-item,
.nav-container .links-container .other-links .link-item {
    margin:0 20px 0 0;
}
.nav-container .links-container .other-links #button {
    background-color: #83F6AE;
    padding: 10px 20px;
    border-radius: 5px;
}


/* intro */

.intro {
    position: relative;
    height:800px;
    overflow: hidden;
}
.intro-background {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    bottom: 0;
    right:0;
    left:0;
    background-image: linear-gradient(#3c0755, #6d0eb7, #543cc8);
    transform: skewY(-6deg);
    transform-origin: top left;
}

h1 {
    margin:0;
    font-size: 40px;
    text-align: center;
    padding:200px 0 20px 0;
}

h1 span {
    color: #83F6AE;
}
.intro .text-container h1 {
    position: relative;
    color: #ffffff;
}
.intro .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 20px;
}
.intro .text-container .input-container {
    display: flex;
    position: relative;
    margin: 0 auto;
}

.intro .text-container .input-container input[type="text"]{
    position: relative;
    padding: 20px 10px;
    width: inherit;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
}   

.intro .text-container .input-container button {
    border: none;
    position: relative;
    padding: 20px;
    width: inherit;
    border-radius: 5px;
    background-color: #83F6AE;
}

.intro .text-container .section-end-text {
    position: relative;
    margin-top: 120px;
}

.intro .text-container .section-end-text p {
    text-transform: uppercase;
    text-align: center;
}
.intro .text-container .section-end-text .arrow-btn {
   transform: rotate(-90deg);
   background-color: #83F6AE;
   width: 40px;
   height: 40px;
   border-radius: 50px;
   padding:10px;
   margin: 20px auto;
   text-align: center;
   font-size: 30px;
}

.intro .text-container .section-end-text .arrow-btn a {
    text-decoration: none;
}


.intro .text-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.content {
    width: 100%;
    height: inherit;
    position: relative;
}

.content .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .content-container div{
    width: 70%;
    margin: auto;
}
.content .content-container p {
   color: #747675;
   text-align: center;
   font-size: 20px;
}

 .content .content-container .create-acct-btn {
    color: #ffffff;
    background-color:#543cc8;
    padding: 10px 20px;
    width: inherit;
    height:inherit;
    border-radius: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
 }
 .content .content-container .create-acct-btn  a{
    text-decoration: none;
 }
.content h2 {
    color: #747675;
    font-size: 25px;
    margin: 100px auto 10px auto;
}
.content hr {
    background-color: #543cc8;
    width: 40px;
    height: 3px;
    margin: 0 auto 20px auto;
    border-radius: 10px;
}

.content .content-container .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.content .content-container .services-container .services-item {
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    background-color: #F5F5F5;
    margin: 10px auto;
}
.content .content-container .services-container .services-item h3 {
    position: relative;
    color: #000000;
    padding: 20px 20px 0 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.content .content-container .services-container .services-item p {
    color: #747675;
    padding: 20px;
    font-size: 14px;
    text-align: left;
}
@media only screen and (min-width:1024px) {
    .nav-container {
        justify-content: space-around;
        padding: 40px 100px;
    }

    .nav-container .links-container .main-links {
        margin-right: 60px
    }

    h1 {
        font-size: 50px;
    }
    .intro .text-container {
       margin: auto;
       width:420px;
    }
    .intro .text-container .input-container input[type="text"] {
        width: 300px;
    }

    .content .content-container div {
        width: 40%;
    }
}